.dashboard-page {
    display: flex;
    flex-direction: column;
    background-color: #0c163b;
}

.footer-container {
    background-color: white;
}

.team-container {
    align-self: center;
    color: white;
}

.dashboard-container > h2 {
    font-family: monospace;
}

.dashboard-container {
    display: flex;
    align-items: center;
    padding: 150px 50px;
    background: linear-gradient(#FFFFFF, #F5F6F9);
};

.dashboard-container:first-child {
    margin: 100px;
}
  